
<div class='col-xs-3'>
	<h2>User info</h2>
	<table class='table'>
		<tr>
			<%= attachment_image_tag user, :profile_image,　format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
		</tr> 
		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>
		<tr>
			<th>introduction</th>
			<th><%= user.introduction %></th>
		</tr>
	</table>

	
	 <%=link_to '',edit_user_path(@user),class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
	

	<h2>New book</h2>

   <%= form_for(book) do |f| %>

    <h4>Title</h4>
    <div><%= f.text_field :title, class: "book_title" %></div>

    <h4>Opinion</h4>
    <div><%= f.text_area :body, class: "book_body" %></div>

    <div><%= f.submit 'Create Book', class: "btn btn-primary col-xs-12" %></div>

  <% end %>
</div>
