<div class='container'>
	<div class='row'>
		<div class='col-md-6 col-md-offset-3'>
			<h1>Editing Book</h1>
			<% if @book.errors.any? %>
			<h2><%= @book.errors.count %>error prohibited this obj from being saved:</h2>
			<% @book.errors.full_messages.each do |message| %>
			<%= message %>
			<% end %>
			<% end %>
			<%= form_for(@book) do |f| %>
			<label>Title</label><br>
			<%= f.text_field :title, class: "book_title width" %><br>
			<label>Opinion</label><br>
			<%= f.text_area :body, class: "book_body width" %><br>
			<%= f.submit "Update Book", class: "btn btn-primary width" %><br>
			<%= link_to "show",book_path(@book),class: "book_#{@book.id}" %>
			 |
			<%= link_to "Back",books_path,class: "back" %>
			<% end %>
		</div>
	</div>
</div>